# Entorno virtual
venv/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# SQLite database
*.sqlite3

# Archivos temporales o del sistema
*.log
*.tmp
.DS_Store

# Configuración de editores
.vscode/
.idea/